/* MOVEMENTS */
.todo__main {
	position: relative;
	display: table;
	margin: 0 auto;
	width: 500px;
	grid-template-columns: 4fr 3fr;
	grid-template-rows: auto repeat(3, 15rem) auto;
	gap: 2rem;
}
.todo__item {
	grid-column: 1 / span 2;
	display: flex;
	align-items: flex-end;
	justify-content: space-between;
	padding-top: 20px;
	padding-bottom: 20px;
	margin-bottom: 20px;
	border: thin dotted black;
	border-radius: 10px;
	height: 30px;
}
.todo__edit {
	/* grid-column: 0 / span 1; */
	/* display: flex;
	align-items: flex-end; */
	padding-top: 20px;
	padding-bottom: 20px;
	margin-bottom: 20px;
	border: thin dotted black;
	border-radius: 10px;
	height: 30px;
	width: 100%;
}
.todo__add {
	display: flex;
	align-items: flex-start;
	justify-content: space-evenly;
}
.todo__nav {
	grid-column: 1 / span 2;
	display: flex;
	align-items: flex-end;
	justify-content: space-between;
	border-color: cornflowerblue;
}
.todo__list {
	margin-top: 30px;
	margin-bottom: 30px;
}
/* .todo__list.todo__all {
	background-color: rgb(216, 216, 216);
}
.todo__list.todo__active {
	background-color: rgba(71, 197, 255, 0.829);
}
.todo__list.todo__completed {
	background-color: rgba(116, 255, 97, 0.89);
} */
.todo__note {
	margin-top: 50px;
	margin-bottom: 20px;
	text-align: center;
}
.todo__input {
	margin-left: 10px;
	height: 30px;
	width: 500px;
}
.done {
	text-decoration: line-through;
	font-style: italic;
}
.hidden {
	visibility: hidden;
}
.none {
	display: none;
}
.active {
	border-color: cornflowerblue;
	background-color: cornflowerblue;
}
